@import "tailwindcss";

@theme {
  --font-mono: "JetBrains Mono", "IBM Plex Mono", ui-monospace, SFMono-Regular,
    monospace;
}

body {
  font-family: var(--font-mono);
}

.ph-circle-notch {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
